<!DOCTYPE html>
<html>
<head>
    <title>ilmo</title>
    <link href="style.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <h1 contenteditable="true" id="id">&#47;</h1>
    <p id="logout"><a href="/logout">logout</a></p>
    <textarea autofocus id="pad" placeholder="..."></textarea>

    <script src="/channel/bcsocket.js"></script>
    <script src="/share/share.uncompressed.js"></script>
    <script src="/share/textarea.js"></script>
    <script src="script.js"></script>
</body>
</html>
